{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About Rango
{% endblock %}

{% block body_block %}
	<style>
		.img-responsive {
			width: auto;
			height: 400px;
		}
	</style>


	<h1>Rango says...</h1>

	<div>
		here is the about page.<br />
		<strong>This tutorial has been put together by {{ name }}</strong>
		<p>Visits: {{ visits }}</p>
	</div>

	<div>
		<img class="img-responsive img-thumbnail" src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /><br />
		<img class="img-responsive img-thumbnail height: 50%" src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." />
	</div>
{% endblock %}
