<!DOCTYPE html>

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
                <a href="/rango/category/{{ category.slug }}/add_page">Add a new page</a><br />
            {% endif %}
        {% else %}
            <h1>The specified category does not exist.</h1>
        {% endif %}
        
        <a href="/rango/">Back</a>
        </div>
    </body>

</html>